* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: transparent;
  border: none;
  outline: none;
  -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
  color-adjust: exact !important; /*Firefox*/
}
@media print {
  @page {
    margin: 0;
  }
  body {
    margin: auto;
  }
}

textarea {
  resize: none;
  vertical-align: top;
}
header {
  height: 200px;
  background-color: rgb(53, 68, 99);
  color: white;
  display: flex;
  justify-content: flex-start;
}
.info {
  display: grid;
  grid-template-columns: 1.2fr 2fr;
}
.img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.heading {
  font-size: 1.5rem;
  color:  rgb(53, 68, 99);;
  font-weight: 600;
  margin-left: 25px;
display: inline-block;
}
.bigname {
  color: white;
  text-transform: uppercase;
}
.summary{
  margin-left: 25px;
}
input{
  width: 95%;
}
.email,
.address,
.phone {
  margin: 5px;
}
.img {
  margin: 20px 20px 0 30px;
}
.bigname {
  font-size: 3rem;
  font-weight: 700;
  margin: 100px 0 0 30px;
}

.two {
  margin-top: 10px;
  border-left: 3px solid  rgb(53, 68, 99);;
}
.experince{
  margin-left: 25px;
}
.education{
  margin-left: 25px;
}
.contact{
  margin-left: 20px;
}
.Company{
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.post{
  font-weight: 600;
  text-transform: capitalize;
}
.university{
  font-weight: 700;
  text-transform: uppercase;
}
.add-exprince,
.add-eduction {
  color: black;
  text-decoration: none;
  background-color:  rgb(53, 68, 99);;
  height: 30px;
  width: 50px;
  margin: 5px;
  /* border-radius: 50%; */
}
/* from css */
.form {
  /* height: 1123px; */
  width: 794px;
  margin: auto;
  margin-top: 10px;
}
/* btn */
 button{
   background:rgba(53, 68, 99, 0.445); ;
   padding: 3px 6px;
   border-radius: 3px;
   
 }
footer {
  margin-top: 10px;
  height: 30px;
  background-color:  rgb(53, 68, 99);
}
.btn-desgin {
  padding: 3px 7px;
  background: grey;
  border-radius: 50%;
}
.file {
  display: none;
}
.btncont{
  display: flex;
  /* margin: auto; */
  margin-top: 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.underline{
  height: 3px;
  width: 80%;
  background-color:rgb(53, 68, 99) ;
  margin: auto;
  margin-top: 30px;
}
.eduction{

  margin-left:25px ;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}