@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media print {
    @page {
      margin: 0;
    }
    body {
      margin: auto;
    }
  }
.heading-my{
    width: 595px;
    margin: 50px auto 30px auto;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;

}
body{
    background: #313B47;
    color: white;
    font-family: 'Roboto', sans-serif;;
}
textarea{
    background: transparent;
    font-family: 'Roboto', sans-serif;
    resize: none;
    display: block;
    width: 100%;
}
.pdfpage{
    margin: 0 auto;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin: auto;
    top: 0;
    width: 80%;

}
.page{
 height: 1123px;
  width: 794px;
    background: white;
    margin: auto;

}
.head{
    background-color: #313C4E;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 20px 30px;
    font-weight: 800;
}
.head textarea{
    color: white;
    border: 0;  
    outline: 0;
}
#filefeild{
    display: none;
}
.img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
   
    margin-left: 30px;
  }
  #name{
    font-size: 30px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
  #name::placeholder{
      color: white;
  }
  #profession::placeholder{
    color: #449399;
  }
  #profession{
      font-size: 20px;
      color: #449399;
      margin-bottom: 10px;
      
  }
  #profession:focus{
    border-bottom: 1px solid;
  }
  #about{
      color: white;
   
  }
  #about::placeholder{
      color: white;
  }
  .info{
      background: #222A33;
  }

  .main{
      color: #222A33;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 30px;
  }
  .eduction{
      margin-bottom: 30px;
  }
  .main-heading{
      display: inline-block;
      border: 0;
      outline: 0;
      color: #449399;
      border-bottom: 3px solid #449399;
      /* border-bottom-width: thik; */
      font-size: 20px;
      font-weight:bolder;
  }
    .particular{
        border: 0;
        outline: 0;
        font-size:18px ;
        font-weight: 900;
        margin: 5px 0;
    }
    .particular::placeholder{
        color: black;
    }
    .particular:focus::placeholder{
        color: gray;
    }
    .place{
        border: 0;
        outline: 0;
        font-size:18px ;
        font-weight: 500;
        margin: 5px 0;
    }
    .place::placeholder{
        color: black;
    }
    .place:focus::placeholder{
        color: gray;
    }
    .month{
        border: 0;
        outline: 0;
        font-family: 'Roboto', sans-serif;
    }
    .ul{
        padding: 0 16px;
    }
    .li{
        border: 0;
        outline: 0;
    }
    .project{
        margin-bottom: 30px;
    }
    .work-experience{
        margin-bottom: 30px;
    }
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      input[type=number]{
          border: 0;
      }
      .skil{
        margin-bottom: 30px;
      }
      .skill{
          /* margin: 10px 7px; */
          display: inline-block;
          margin-top: 7px;
          border: 0;
          outline: 0;
          background: #313c4e63;
          padding: 1px 5px ;
          border-radius:5px ;
      }