* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background: transparent;
  border: none;
  outline: none;
  -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
  color-adjust: exact !important; /*Firefox*/
}
body {
  margin: 0;
  padding: 0;
}
/* css of form */
.from {
  /* height: 1123px; */
  width: 794px;
  margin: auto;
}
textarea {
  resize: none;
  vertical-align: top;
}
.page {
  display: none;
}
.comapny {
  font-weight: 500;
}
.btn-preview {
  text-decoration: none;
  color: grey;
  padding: 5px 10px;
  background-color: rgba(137, 43, 226, 0.438);
  /* margin: 300px 0; */
  border-radius: 4px;
}
.preview {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.btnedu {
  padding: 2px 7px;
  border-radius: 50%;
  background: gray;
  text-decoration: none;
}

header {
  height: 200px;
  width: 100%;
  background: lightblue;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}
.bigname {
  margin: 20px;
  font-size: 3rem;
  color: white;
}
.post {
  font-size: 1.5rem;
  margin: 0 50px;
  color: white;
}
.from-dp {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
.file {
  display: none;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 3px solid rgba(128, 128, 128, 0.205); */
}
.heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: aquamarine;
  margin: 30px 0 10px 30px;
}
.preview {
  display: flex;
  justify-content: space-evenly;
}
#btn-back {
  display: none;
}
#btn-save {
  display: none;
}
li {
  margin: 3px 3px 3px 20px;
}
/* css termplete */
.page {
  /* height: 1123px; */
  width: 794px;
  margin: auto;
  margin-top: 0;
}
.experince {
  padding: 10px 30px;
}
.contact {
  margin: 5px 5px 5px 30px;
}
.eduction {
  padding: 5px 30px;
}
.exp-ul {
  margin-left: 20px;
}
.skills {
  margin-left: 50px;
}
.refrence {
  margin-left: 50px;
}
